<launch>

  <arg name="map" default="$(find mobile_robot)/maps/sudo_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

  <param name="robot_description" command="$(find xacro)/xacro '$(find mobile_robot)/model/me212bot.xacro'"/>

  <node pkg="tf" type="static_transform_publisher" name="robot_base_to_map" args="2 0.35 0 0 0 0.7071 0.7071 map robot_base 10"/>

</launch>
